# Script to consolidate data from the [Covid Tracking Project](https://covidtracking.com/) and calculate simple ratios for display in Tableau

# Packages and data import

In [1]:
# packages
import requests, json
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

# should we plot anything in this notebook, this will allow visual to display
%matplotlib inline

# show all columns
pd.set_option('display.max_columns', None)

In [2]:
# table with state names and abbreviations
states_abbr = pd.read_csv("../inputs/state_table.csv")
states_abbr.head()

        state state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

### Load [US daily 4pm EST](https://covidtracking.com/data/us-daily) data

In [50]:
national_url = "https://covidtracking.com/api/us/daily"

In [53]:
# request from url
national_raw = requests.get(national_url)

In [54]:
# convert request to json
national_json = national_raw.json()

In [55]:
# show first record in json file
national_json[:1]

[{'date': 20200410,
  'states': 56,
  'positive': 491156,
  'negative': 2028486,
  'pending': 17444,
  'hospitalizedCurrently': 48344,
  'hospitalizedCumulative': 50559,
  'inIcuCurrently': 12688,
  'inIcuCumulative': 1174,
  'onVentilatorCurrently': 5937,
  'onVentilatorCumulative': 41,
  'recovered': 23322,
  'hash': '5ddadeaa877d929c21f30f9fb078f84ead559688',
  'dateChecked': '2020-04-10T20:00:00Z',
  'death': 18356,
  'hospitalized': 50559,
  'total': 2537086,
  'totalTestResults': 2519642,
  'posNeg': 2519642,
  'deathIncrease': 1932,
  'hospitalizedIncrease': 2215,
  'negativeIncrease': 111749,
  'positiveIncrease': 32682,
  'totalTestResultsIncrease': 144431}]

In [56]:
# convert json to dataframe
national = pd.DataFrame(national_json)

# show first five rows
national.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200410,56,491156,2028486.0,17444.0,48344.0,50559.0,12688.0,1174.0,5937.0,41.0,23322.0,5ddadeaa877d929c21f30f9fb078f84ead559688,2020-04-10T20:00:00Z,18356,50559.0,2537086,2519642,2519642,1932.0,2215.0,111749.0,32682.0,144431.0
1,20200409,56,458474,1916737.0,17631.0,46665.0,48344.0,12244.0,924.0,5794.0,39.0,21162.0,f6953f452ca9a18354b32f9b69fa6469e1226a75,2020-04-09T20:00:00Z,16424,48344.0,2392842,2375211,2375211,1877.0,1190.0,128443.0,34083.0,162526.0
2,20200408,56,424391,1788294.0,17228.0,41095.0,47154.0,9927.0,1013.0,4131.0,216.0,19378.0,fa1d3a52eca9246c015bf7adf7d665128fe678fc,2020-04-08T20:00:00Z,14547,47154.0,2229913,2212685,2212685,1901.0,1654.0,109403.0,30161.0,139564.0
3,20200407,56,394230,1678891.0,16557.0,39677.0,45500.0,9875.0,889.0,4076.0,151.0,18477.0,a5e7884a0ca207621727dc0d50f1ca8875d3134c,2020-04-07T20:00:00Z,12646,45500.0,2089678,2073121,2073121,1926.0,2302.0,117662.0,30415.0,148077.0
4,20200406,56,363815,1561229.0,17292.0,32210.0,43198.0,6943.0,814.0,2961.0,147.0,16584.0,d06b016555bbea9176088a939586dd5efa8f8aae,2020-04-06T20:00:00Z,10720,43198.0,1942336,1925044,1925044,1166.0,2975.0,120496.0,28746.0,149242.0

### Load [states daily 4pm EST](https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml) data

In [3]:
states_url = "https://covidtracking.com/api/states/daily"

In [4]:
# request from url
states_raw = requests.get(states_url)

In [5]:
# convert request to json
states_json = states_raw.json()

In [47]:
# show first record in json file
states_json[:1]

[{'date': 20200410,
  'state': 'AK',
  'positive': 246,
  'negative': 7186,
  'pending': None,
  'hospitalizedCurrently': None,
  'hospitalizedCumulative': 28,
  'inIcuCurrently': None,
  'inIcuCumulative': None,
  'onVentilatorCurrently': None,
  'onVentilatorCumulative': None,
  'recovered': 55,
  'hash': 'f72f6232f47812a602059afa4d5f4d698726aa3b',
  'dateChecked': '2020-04-10T20:00:00Z',
  'death': 7,
  'hospitalized': 28,
  'total': 7432,
  'totalTestResults': 7432,
  'posNeg': 7432,
  'fips': '02',
  'deathIncrease': 0,
  'hospitalizedIncrease': 1,
  'negativeIncrease': 198,
  'positiveIncrease': 11,
  'totalTestResultsIncrease': 209}]

In [7]:
# convert json to dataframe
states = pd.DataFrame(states_json)

# show first five rows
states.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200410,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10T20:00:00Z,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0
1,20200410,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10T20:00:00Z,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0
2,20200410,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10T20:00:00Z,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0
3,20200410,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10T20:00:00Z,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0
4,20200410,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10T20:00:00Z,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0

In [8]:
# data types by column
states.dtypes

date                          int64
state                        object
positive                    float64
negative                    float64
pending                     float64
hospitalizedCurrently       float64
hospitalizedCumulative      float64
inIcuCurrently              float64
inIcuCumulative             float64
onVentilatorCurrently       float64
onVentilatorCumulative      float64
recovered                   float64
hash                         object
dateChecked                  object
death                       float64
hospitalized                float64
total                         int64
totalTestResults              int64
posNeg                        int64
fips                         object
deathIncrease               float64
hospitalizedIncrease        float64
negativeIncrease            float64
positiveIncrease            float64
totalTestResultsIncrease    float64
dtype: object

In [9]:
# set 'date' to date and 'dateChecked' to timestamp
states['date'] = pd.to_datetime(states['date'], format = "%Y%m%d").dt.strftime('%Y-%m-%d')
states['dateChecked'] = pd.to_datetime(states['dateChecked'])

# rename 'state' to 'state_abbr'
states.rename(columns = {'state': 'state_abbr'}, inplace = True)

# show first five rows
states.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0

### Load state populations from Census American Community Survey (ACS5)

In [10]:
# map url to var
states_acs5_url = "https://api.census.gov/data/2017/acs/acs5?get=NAME,B01001_001E&for=state:*"

In [11]:
# import data from url
states_acs5_raw = requests.get(states_acs5_url)

In [12]:
# data to json
states_acs5_json = states_acs5_raw.json()

In [13]:
# json to dataframe
states_pop = pd.DataFrame(states_acs5_json[1:], columns = states_acs5_json[0]).rename(columns = 
                                                        {"B01001_001E": "population",
                                                         "NAME": "state",
                                                         "state": "state_fips"})
# show first five rows
states_pop.head()

         state population state_fips
0  Puerto Rico    3468963         72
1      Alabama    4850771         01
2       Alaska     738565         02
3      Arizona    6809946         04
4     Arkansas    2977944         05

Making an additional join so we have state abbreviation - will be needed for join below

In [14]:
# left join state abbr
states_pop = pd.merge(states_pop, states_abbr, on = "state", how = "left")

# rename 'state' to 'state_name'

# show first five rows
states_pop.head()

         state population state_fips state_abbr
0  Puerto Rico    3468963         72         PR
1      Alabama    4850771         01         AL
2       Alaska     738565         02         AK
3      Arizona    6809946         04         AZ
4     Arkansas    2977944         05         AR

In [15]:
states.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0

### Load national from Census American Community Survey (ACS5)

In [57]:
# map url to var
us_acs5_url = "https://api.census.gov/data/2017/acs/acs5?get=NAME,B01001_001E&for=us:*"

# import data from url
us_acs5_raw = requests.get(us_acs5_url)

# data to json
us_acs5_json = us_acs5_raw.json()

# json to dataframe
us_pop = pd.DataFrame(us_acs5_json[1:], columns = us_acs5_json[0]).rename(columns = 
                                                        {"B01001_001E": "population",
                                                         "NAME": "country"}).drop(['us'], axis = 1)
# show table
us_pop

         country population
0  United States  321004407

# Join state population to state case table

In [16]:
# join the population to the state test/case table
combined_1 = pd.merge(states, states_pop[['state', 'state_abbr', 'population']]
                      , on = 'state_abbr', how = 'left')#.drop('state_abbr', 1)

# show first five rows
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0,Alaska,738565
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0,Alabama,4850771
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0,Arkansas,2977944
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0,Arizona,6809946

# Create ratios

In [17]:
# by state, change in total from one day to the next
combined_1['tests_since_prev_day'] = combined_1.groupby('state')['total'].diff(-1)

# by state, change in positive from one day to the next
combined_1['positives_since_prev_day'] = combined_1.groupby('state')['positive'].diff(-1)

# by state, change in positive from one day to the next
combined_1['negatives_since_prev_day'] = combined_1.groupby('state')['negative'].diff(-1)

# show table
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0,Alaska,738565,209.0,11.0,198.0
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0,Alabama,4850771,199.0,199.0,0.0
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0,Arkansas,2977944,2169.0,52.0,2117.0
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0,Arizona,6809946,556.0,94.0,462.0

In [48]:
# look at NY state
combined_1[combined_1['state'] == "New York"].head(10)

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
37,2020-04-10,NY,170512.0,247373.0,NaN,18569.0,33159.0,4908.0,NaN,NaN,NaN,14590.0,19bf630f772c33bb63625ea2ee2befe0f8b671c1,2020-04-10 20:00:00,7844.0,33159.0,417885,417885,417885,36,777.0,290.0,15761.0,10575.0,26336.0,New York,19798228.0,26336.0,10575.0,15761.0,0.021107,0.401542
93,2020-04-09,NY,159937.0,231612.0,NaN,18279.0,32869.0,4925.0,NaN,NaN,NaN,14590.0,19512dcbae953900d3ef3e2afae921b0c28059d6,2020-04-09 20:00:00,7067.0,32869.0,391549,391549,391549,36,799.0,200.0,15775.0,10621.0,26396.0,New York,19798228.0,26396.0,10621.0,15775.0,0.019777,0.402372
149,2020-04-08,NY,149316.0,215837.0,NaN,18079.0,32669.0,4593.0,NaN,NaN,NaN,14590.0,04c1123227a0fc3bf195f5b8efa6dfc6669cc3fc,2020-04-08 20:00:00,6268.0,32669.0,365153,365153,365153,36,779.0,586.0,14642.0,10453.0,25095.0,New York,19798228.0,25095.0,10453.0,14642.0,0.018444,0.416537
205,2020-04-07,NY,138863.0,201195.0,NaN,17493.0,32083.0,4593.0,NaN,NaN,NaN,14590.0,15947b1c9ed54db71e224d5882c2e146b415b520,2020-04-07 20:00:00,5489.0,32083.0,340058,340058,340058,36,731.0,1880.0,11073.0,8174.0,19247.0,New York,19798228.0,19247.0,8174.0,11073.0,0.017176,0.424690
261,2020-04-06,NY,130689.0,190122.0,NaN,16837.0,30203.0,4504.0,NaN,NaN,NaN,13366.0,2f8e8d32b6402d0d288a4d4db9946c5667b67f39,2020-04-06 20:00:00,4758.0,30203.0,320811,320811,320811,36,599.0,2111.0,9873.0,8658.0,18531.0,New York,19798228.0,18531.0,8658.0,9873.0,0.016204,0.467217
317,2020-04-05,NY,122031.0,180249.0,NaN,16479.0,28092.0,4376.0,NaN,NaN,NaN,12187.0,58a99b83c7368e224acff5ea100e3692a0b8fa75,2020-04-05 20:00:00,4159.0,28092.0,302280,302280,302280,36,594.0,1709.0,10332.0,8327.0,18659.0,New York,19798228.0,18659.0,8327.0,10332.0,0.015268,0.446273
373,2020-04-04,NY,113704.0,169917.0,NaN,15905.0,26383.0,4126.0,NaN,NaN,NaN,10478.0,792799b4ed7e06f7995dec04e454a37ec5edb0c0,2020-04-04 20:00:00,3565.0,26383.0,283621,283621,283621,36,630.0,2687.0,12260.0,10841.0,23101.0,New York,19798228.0,23101.0,10841.0,12260.0,0.014326,0.469287
429,2020-04-03,NY,102863.0,157657.0,NaN,14810.0,23696.0,3731.0,NaN,NaN,NaN,8886.0,3581ea3846e784ce3996c873effe694f50617310,2020-04-03 20:00:00,2935.0,23696.0,260520,260520,260520,36,562.0,2879.0,11073.0,10482.0,21555.0,New York,19798228.0,21555.0,10482.0,11073.0,0.013159,0.486291
485,2020-04-02,NY,92381.0,146584.0,NaN,13383.0,20817.0,3396.0,NaN,NaN,NaN,7434.0,764d0566c27be04c416c502640d5fffbcb8cad26,2020-04-02 20:00:00,2373.0,20817.0,238965,238965,238965,36,432.0,2449.0,9416.0,8669.0,18085.0,New York,19798228.0,18085.0,8669.0,9416.0,0.012070,0.479348
541,2020-04-01,NY,83712.0,137168.0,NaN,12226.0,18368.0,3022.0,NaN,NaN,NaN,6142.0,0b906bb4c9631eecca95b6183d50bee067b4bbc2,2020-04-01 20:00:00,1941.0,18368.0,220880,220880,220880,36,391.0,2464.0,7777.0,7917.0,15694.0,New York,19798228.0,15694.0,7917.0,7777.0,0.011157,0.504460

In [19]:
# show data types by column
combined_1.dtypes

date                                     object
state_abbr                               object
positive                                float64
negative                                float64
pending                                 float64
hospitalizedCurrently                   float64
hospitalizedCumulative                  float64
inIcuCurrently                          float64
inIcuCumulative                         float64
onVentilatorCurrently                   float64
onVentilatorCumulative                  float64
recovered                               float64
hash                                     object
dateChecked                 datetime64[ns, UTC]
death                                   float64
hospitalized                            float64
total                                     int64
totalTestResults                          int64
posNeg                                    int64
fips                                     object
deathIncrease                           float64
hospitalizedIncrease                    float64
negativeIncrease                        float64
positiveIncrease                        float64
totalTestResultsIncrease                float64
state                                    object
population                               object
tests_since_prev_day                    float64
positives_since_prev_day                float64
negatives_since_prev_day                float64
dtype: object

In [20]:
# change population from object to numeric
combined_1['population'] = pd.to_numeric(combined_1['population'])

In [21]:
# tests per capita
combined_1['total_tests_per_person'] = combined_1['total'] / combined_1['population']

In [22]:
# show first five rows
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0,Alaska,738565.0,209.0,11.0,198.0,0.010063
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0,Alabama,4850771.0,199.0,199.0,0.0,0.004335
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0,Arkansas,2977944.0,2169.0,52.0,2117.0,0.005749
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0,Arizona,6809946.0,556.0,94.0,462.0,0.005541

In [23]:
# get today's date
today = datetime.today().strftime('%Y-%m-%d')
today

'2020-04-10'

In [49]:
# filter date to today and sort states by highest test per capita
combined_1[combined_1['date'].isin([today])].sort_values(by = "total_tests_per_person", ascending = False).head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
37,2020-04-10,NY,170512.0,247373.0,NaN,18569.0,33159.0,4908.0,NaN,NaN,NaN,14590.0,19bf630f772c33bb63625ea2ee2befe0f8b671c1,2020-04-10 20:00:00,7844.0,33159.0,417885,417885,417885,36,777.0,290.0,15761.0,10575.0,26336.0,New York,19798228.0,26336.0,10575.0,15761.0,0.021107,0.401542
20,2020-04-10,LA,19253.0,73027.0,NaN,2054.0,NaN,NaN,NaN,479.0,NaN,NaN,16c20b191b25b668f0647db33d5c34aa2808544a,2020-04-10 20:00:00,755.0,NaN,92280,92280,92280,22,53.0,0.0,4391.0,970.0,5361.0,Louisiana,4663461.0,5361.0,970.0,4391.0,0.019788,0.180936
21,2020-04-10,MA,20974.0,81398.0,NaN,NaN,1956.0,NaN,NaN,NaN,NaN,NaN,8b7730535bc5b8dead6d18a4a4c3a1f0c02e2a20,2020-04-10 20:00:00,599.0,1956.0,102372,102372,102372,25,96.0,209.0,5381.0,2033.0,7414.0,Massachusetts,6789319.0,7414.0,2033.0,5381.0,0.015078,0.274211
8,2020-04-10,DC,1660.0,7695.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.0,7c6bf62e6c19aaa7b50946ee18cb701683abd073,2020-04-10 20:00:00,38.0,NaN,9355,9355,9355,11,6.0,0.0,494.0,137.0,631.0,District of Columbia,672391.0,631.0,137.0,494.0,0.013913,0.217116
48,2020-04-10,UT,2102.0,38660.0,NaN,NaN,183.0,NaN,NaN,NaN,NaN,NaN,9922f7bcadc14b7394b2c54e39cc1916b6e9044c,2020-04-10 20:00:00,17.0,183.0,40762,40762,40762,49,4.0,15.0,2263.0,126.0,2389.0,Utah,2993941.0,2389.0,126.0,2263.0,0.013615,0.052742

In [25]:
# determine positive rate per tests
combined_1['positive_per_test'] = combined_1['positives_since_prev_day'] / combined_1['tests_since_prev_day']
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00+00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0,Alaska,738565.0,209.0,11.0,198.0,0.010063,0.052632
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00+00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0,Alabama,4850771.0,199.0,199.0,0.0,0.004335,1.000000
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00+00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0,Arkansas,2977944.0,2169.0,52.0,2117.0,0.005749,0.023974
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00+00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00+00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0,Arizona,6809946.0,556.0,94.0,462.0,0.005541,0.169065

# Display a few select states

In [46]:
# look at NY over time
combined_1[combined_1['state'] == 'New York'].head(10)

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
37,2020-04-10,NY,170512.0,247373.0,NaN,18569.0,33159.0,4908.0,NaN,NaN,NaN,14590.0,19bf630f772c33bb63625ea2ee2befe0f8b671c1,2020-04-10 20:00:00,7844.0,33159.0,417885,417885,417885,36,777.0,290.0,15761.0,10575.0,26336.0,New York,19798228.0,26336.0,10575.0,15761.0,0.021107,0.401542
93,2020-04-09,NY,159937.0,231612.0,NaN,18279.0,32869.0,4925.0,NaN,NaN,NaN,14590.0,19512dcbae953900d3ef3e2afae921b0c28059d6,2020-04-09 20:00:00,7067.0,32869.0,391549,391549,391549,36,799.0,200.0,15775.0,10621.0,26396.0,New York,19798228.0,26396.0,10621.0,15775.0,0.019777,0.402372
149,2020-04-08,NY,149316.0,215837.0,NaN,18079.0,32669.0,4593.0,NaN,NaN,NaN,14590.0,04c1123227a0fc3bf195f5b8efa6dfc6669cc3fc,2020-04-08 20:00:00,6268.0,32669.0,365153,365153,365153,36,779.0,586.0,14642.0,10453.0,25095.0,New York,19798228.0,25095.0,10453.0,14642.0,0.018444,0.416537
205,2020-04-07,NY,138863.0,201195.0,NaN,17493.0,32083.0,4593.0,NaN,NaN,NaN,14590.0,15947b1c9ed54db71e224d5882c2e146b415b520,2020-04-07 20:00:00,5489.0,32083.0,340058,340058,340058,36,731.0,1880.0,11073.0,8174.0,19247.0,New York,19798228.0,19247.0,8174.0,11073.0,0.017176,0.424690
261,2020-04-06,NY,130689.0,190122.0,NaN,16837.0,30203.0,4504.0,NaN,NaN,NaN,13366.0,2f8e8d32b6402d0d288a4d4db9946c5667b67f39,2020-04-06 20:00:00,4758.0,30203.0,320811,320811,320811,36,599.0,2111.0,9873.0,8658.0,18531.0,New York,19798228.0,18531.0,8658.0,9873.0,0.016204,0.467217
317,2020-04-05,NY,122031.0,180249.0,NaN,16479.0,28092.0,4376.0,NaN,NaN,NaN,12187.0,58a99b83c7368e224acff5ea100e3692a0b8fa75,2020-04-05 20:00:00,4159.0,28092.0,302280,302280,302280,36,594.0,1709.0,10332.0,8327.0,18659.0,New York,19798228.0,18659.0,8327.0,10332.0,0.015268,0.446273
373,2020-04-04,NY,113704.0,169917.0,NaN,15905.0,26383.0,4126.0,NaN,NaN,NaN,10478.0,792799b4ed7e06f7995dec04e454a37ec5edb0c0,2020-04-04 20:00:00,3565.0,26383.0,283621,283621,283621,36,630.0,2687.0,12260.0,10841.0,23101.0,New York,19798228.0,23101.0,10841.0,12260.0,0.014326,0.469287
429,2020-04-03,NY,102863.0,157657.0,NaN,14810.0,23696.0,3731.0,NaN,NaN,NaN,8886.0,3581ea3846e784ce3996c873effe694f50617310,2020-04-03 20:00:00,2935.0,23696.0,260520,260520,260520,36,562.0,2879.0,11073.0,10482.0,21555.0,New York,19798228.0,21555.0,10482.0,11073.0,0.013159,0.486291
485,2020-04-02,NY,92381.0,146584.0,NaN,13383.0,20817.0,3396.0,NaN,NaN,NaN,7434.0,764d0566c27be04c416c502640d5fffbcb8cad26,2020-04-02 20:00:00,2373.0,20817.0,238965,238965,238965,36,432.0,2449.0,9416.0,8669.0,18085.0,New York,19798228.0,18085.0,8669.0,9416.0,0.012070,0.479348
541,2020-04-01,NY,83712.0,137168.0,NaN,12226.0,18368.0,3022.0,NaN,NaN,NaN,6142.0,0b906bb4c9631eecca95b6183d50bee067b4bbc2,2020-04-01 20:00:00,1941.0,18368.0,220880,220880,220880,36,391.0,2464.0,7777.0,7917.0,15694.0,New York,19798228.0,15694.0,7917.0,7777.0,0.011157,0.504460

In [45]:
# look at NY over time
#combined_1[combined_1['state'] == 'New Jersey']

In [44]:
# look at WA over time
#combined_1[combined_1['state'] == 'Washington']

In [43]:
# look at VA over time
#combined_1[combined_1['state'] == 'Virginia']

In [40]:
# look at MD over time
#combined_1[combined_1['state'] == 'Maryland']

In [41]:
# look at DC over time
#combined_1[combined_1['state'] == 'District of Columbia']

In [42]:
# look at LA over time
#combined_1[combined_1['state'] == 'Louisiana']

# Finalize US National Data

In [76]:
# dislay us pop
us_pop

         country population
0  United States  321004407

In [75]:
# display first five rows of national dataset
national.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200410,56,491156,2028486.0,17444.0,48344.0,50559.0,12688.0,1174.0,5937.0,41.0,23322.0,5ddadeaa877d929c21f30f9fb078f84ead559688,2020-04-10T20:00:00Z,18356,50559.0,2537086,2519642,2519642,1932.0,2215.0,111749.0,32682.0,144431.0
1,20200409,56,458474,1916737.0,17631.0,46665.0,48344.0,12244.0,924.0,5794.0,39.0,21162.0,f6953f452ca9a18354b32f9b69fa6469e1226a75,2020-04-09T20:00:00Z,16424,48344.0,2392842,2375211,2375211,1877.0,1190.0,128443.0,34083.0,162526.0
2,20200408,56,424391,1788294.0,17228.0,41095.0,47154.0,9927.0,1013.0,4131.0,216.0,19378.0,fa1d3a52eca9246c015bf7adf7d665128fe678fc,2020-04-08T20:00:00Z,14547,47154.0,2229913,2212685,2212685,1901.0,1654.0,109403.0,30161.0,139564.0
3,20200407,56,394230,1678891.0,16557.0,39677.0,45500.0,9875.0,889.0,4076.0,151.0,18477.0,a5e7884a0ca207621727dc0d50f1ca8875d3134c,2020-04-07T20:00:00Z,12646,45500.0,2089678,2073121,2073121,1926.0,2302.0,117662.0,30415.0,148077.0
4,20200406,56,363815,1561229.0,17292.0,32210.0,43198.0,6943.0,814.0,2961.0,147.0,16584.0,d06b016555bbea9176088a939586dd5efa8f8aae,2020-04-06T20:00:00Z,10720,43198.0,1942336,1925044,1925044,1166.0,2975.0,120496.0,28746.0,149242.0

In [74]:
# concat national dataset with the population
# code below duplicates us_pop by number of rows in national dataset to avoid NAs
national_final = pd.concat([national, 
                            pd.concat([us_pop.drop(['country'],
                                                   axis = 1)]*len(national_final), ignore_index = True)],
                           axis = 1)

# show first five rows
national_final.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,population
0,20200410,56,491156,2028486.0,17444.0,48344.0,50559.0,12688.0,1174.0,5937.0,41.0,23322.0,5ddadeaa877d929c21f30f9fb078f84ead559688,2020-04-10T20:00:00Z,18356,50559.0,2537086,2519642,2519642,1932.0,2215.0,111749.0,32682.0,144431.0,321004407
1,20200409,56,458474,1916737.0,17631.0,46665.0,48344.0,12244.0,924.0,5794.0,39.0,21162.0,f6953f452ca9a18354b32f9b69fa6469e1226a75,2020-04-09T20:00:00Z,16424,48344.0,2392842,2375211,2375211,1877.0,1190.0,128443.0,34083.0,162526.0,321004407
2,20200408,56,424391,1788294.0,17228.0,41095.0,47154.0,9927.0,1013.0,4131.0,216.0,19378.0,fa1d3a52eca9246c015bf7adf7d665128fe678fc,2020-04-08T20:00:00Z,14547,47154.0,2229913,2212685,2212685,1901.0,1654.0,109403.0,30161.0,139564.0,321004407
3,20200407,56,394230,1678891.0,16557.0,39677.0,45500.0,9875.0,889.0,4076.0,151.0,18477.0,a5e7884a0ca207621727dc0d50f1ca8875d3134c,2020-04-07T20:00:00Z,12646,45500.0,2089678,2073121,2073121,1926.0,2302.0,117662.0,30415.0,148077.0,321004407
4,20200406,56,363815,1561229.0,17292.0,32210.0,43198.0,6943.0,814.0,2961.0,147.0,16584.0,d06b016555bbea9176088a939586dd5efa8f8aae,2020-04-06T20:00:00Z,10720,43198.0,1942336,1925044,1925044,1166.0,2975.0,120496.0,28746.0,149242.0,321004407

In [81]:
national_final[:1].stack().reset_index()

,level_0,level_1,0
0,0,date,20200410
1,0,states,56
2,0,positive,491156
3,0,negative,2.02849e+06
4,0,pending,17444
5,0,hospitalizedCurrently,48344
6,0,hospitalizedCumulative,50559
7,0,inIcuCurrently,12688
8,0,inIcuCumulative,1174
9,0,onVentilatorCurrently,5937
10,0,onVentilatorCumulative,41
11,0,recovered,23322
12,0,hash,5ddadeaa877d929c21f30f9fb078f84ead559688
13,0,dateChecked,2020-04-10T20:00:00Z
14,0,death,18356
15,0,hospitalized,50559
16,0,total,2537086
17,0,totalTestResults,2519642
18,0,posNeg,2519642
19,0,deathIncrease,1932
20,0,hospitalizedIncrease,2215
21,0,negativeIncrease,111749
22,0,positiveIncrease,32682
23,0,totalTestResultsIncrease,144431
24,0,population,321004407

# Write to Excel

In [33]:
# running code below since excel does not support datetimes with timezones
combined_1['dateChecked'] = combined_1['dateChecked'].dt.strftime('%Y-%m-%d %H:%M:%S')

# show first five rows
combined_1.head()

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
0,2020-04-10,AK,246.0,7186.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,55.0,f72f6232f47812a602059afa4d5f4d698726aa3b,2020-04-10 20:00:00,7.0,28.0,7432,7432,7432,02,0.0,1.0,198.0,11.0,209.0,Alaska,738565.0,209.0,11.0,198.0,0.010063,0.052632
1,2020-04-10,AL,2968.0,18058.0,NaN,NaN,368.0,NaN,NaN,NaN,NaN,NaN,deabcc53c679be6f942df9ba423a0d262ce45c5c,2020-04-10 20:00:00,80.0,368.0,21026,21026,21026,01,6.0,35.0,0.0,199.0,199.0,Alabama,4850771.0,199.0,199.0,0.0,0.004335,1.000000
2,2020-04-10,AR,1171.0,15949.0,NaN,86.0,130.0,NaN,43.0,33.0,39.0,312.0,eed9ef5b44313459b1b49ca25a50a47df14fbc20,2020-04-10 20:00:00,23.0,130.0,17120,17120,17120,05,2.0,0.0,2117.0,52.0,2169.0,Arkansas,2977944.0,2169.0,52.0,2117.0,0.005749,0.023974
3,2020-04-10,AS,0.0,20.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b7ea7c0eb35bbeb575ebd7e4b584b6df0be24c13,2020-04-10 20:00:00,0.0,NaN,31,20,20,60,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-10,AZ,3112.0,34622.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3ba26485902411adb8738870f9588c6ca100e6b,2020-04-10 20:00:00,97.0,NaN,37734,37734,37734,04,8.0,0.0,462.0,94.0,556.0,Arizona,6809946.0,556.0,94.0,462.0,0.005541,0.169065

In [39]:
# separate the most recent day into its own tab
#today = '2020-04-03'
most_recent_day = combined_1[combined_1['date'].isin([today])]
most_recent_day[most_recent_day.state_abbr.isin(['NY', 'NJ', 'DC'])]

,date,state_abbr,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,dateChecked,death,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,state,population,tests_since_prev_day,positives_since_prev_day,negatives_since_prev_day,total_tests_per_person,positive_per_test
8,2020-04-10,DC,1660.0,7695.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.0,7c6bf62e6c19aaa7b50946ee18cb701683abd073,2020-04-10 20:00:00,38.0,NaN,9355,9355,9355,11,6.0,0.0,494.0,137.0,631.0,District of Columbia,672391.0,631.0,137.0,494.0,0.013913,0.217116
34,2020-04-10,NJ,54588.0,58935.0,NaN,7570.0,NaN,1679.0,NaN,1663.0,NaN,682.0,a416d702cd805b6a6da57f4770c93b3df78c267b,2020-04-10 20:00:00,1932.0,NaN,113523,113523,113523,34,232.0,0.0,2770.0,3561.0,6331.0,New Jersey,8960161.0,6331.0,3561.0,2770.0,0.012670,0.562470
37,2020-04-10,NY,170512.0,247373.0,NaN,18569.0,33159.0,4908.0,NaN,NaN,NaN,14590.0,19bf630f772c33bb63625ea2ee2befe0f8b671c1,2020-04-10 20:00:00,7844.0,33159.0,417885,417885,417885,36,777.0,290.0,15761.0,10575.0,26336.0,New York,19798228.0,26336.0,10575.0,15761.0,0.021107,0.401542

In [35]:
# to excel
with pd.ExcelWriter('../outputs/States_Daily_4PM.xlsx') as writer:
    combined_1.to_excel(writer, sheet_name = 'States Daily 4PM', index = False)
    most_recent_day.to_excel(writer, sheet_name = 'Most Recent Day', index = False)